.debug * {
    border: 1px solid rgb(255, 0, 200);
}


img {
    max-width: 100%;
}

    /* ---- HEADER ----  */

header {
    background-color: black;
}

.ms_header-bar img {
    height: 13px;
}

    /* NAVBAR  */

.ms_chevron {
    margin-right: 1.255em;
    margin-left: .255em;
    width: 11px;
  }

.navbar .dropdown-toggle::after {
    display: none;
    /*margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;*/
  }


    /*  ---- MAIN ----  */

    /*  GAME SECTION  */

    /*  COMMONS  */

.row.ms_game {
    min-height: 586px;
}

/*
section[class^='ms_game-section'] {
    background-position: center;
    background-size: cover;
}
*/

section.ms_game {
    background-position: center;
    background-size: cover;
}

img.ms_game {
    max-width: 203px;
}

h2.ms_game {
    font-weight: 600;
}

button.ms_game {
    background-color: #CD3D0F;
    font-weight: 600;
    padding-bottom: 9px;
    white-space: nowrap;
}


    /* RETURNAL  */

section.ms_game.ms_returnal {
    background-image: url("img/jumbo-bg.png");
}


    /* GAME CARD SECTION  */

div.ms_game-card.ms_thumbnail {
    border-radius: 15px;   
}

div.ms_game-card.ms_thumbnail.active, {
    border: 3px solid #0072CE;
}



/*
img.ms_game-card {
    width: 100%;
    height: 100%;
}
*/

div.ms_game-card.ms_wrapper {
    position: relative;
}

div.ms_game-card.ms_thumbnail.active::before,
div.ms_game-card.ms_thumbnail:hover::before {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute; 
    top: -6px;
    bottom: -5.5px;
    left: 6px;
    right: 6px;  
    border: 3px solid #0072CE;
    border-radius: 20px;  
}



/* img.ms_game-card {
    position: relative;
    display: block;
}

img.ms_game-card::after {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    border: 3px solid #0072CE; 
} */