.debug * {
    border: 1px solid rgb(255, 0, 200);
}


img {
    max-width: 100%;
}

            /* ---- HEADER ----  */

header {
    display: contents;
}

.ms_header-bar {
    background-color: black;
}

.ms_header-bar img {
    height: 13px;
}


        /* TEXT STYLE  */

.ms_color-ps {
    color: #0072CE;
}

.ms_color-grey-sb {
    color: #727272;
}  


.ms_font-weight_600 {
    font-weight: 600;
}

.ms_font-weight_500 {
    font-weight: 500;
}

.ms_font-weight_400 {
    font-weight: 400;
}


        /* BUTTONS  */

button.btn {
    font-weight: 600;
    padding-bottom: 9px;
    white-space: nowrap;
}

button.ms_game {
    background-color: #CD3D0F;
}



        /*  BORDERS  */

.ms_border-c_ps {
    border-color: #0072CE;
}


        /* NAVBAR  */

header nav.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.ms_chevron {
    margin-right: 1.255em;
    margin-left: .255em;
    width: 11px;
  }

.navbar .dropdown-toggle::after {
    display: none;
    /*margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;*/
  }


            /*  ---- MAIN ----  */

        /*  GAME SECTION  */

    /*  COMMONS  */

.row.ms_game {
    min-height: 586px;
}

/*
section[class^='ms_game-section'] {
    background-position: center;
    background-size: cover;
}
*/

section.ms_game {
    background-position: center;
    background-size: cover;
}

img.ms_game {
    max-width: 203px;
}

/* h2.ms_game {
    font-weight: 600;
} */




    /* RETURNAL  */

section.ms_game.ms_returnal {
    background-image: url("img/jumbo-bg.png");
}


        /* GAME CARD SECTION  */

div.ms_game-card.ms_thumbnail {
    border-radius: 15px;   
}


div.ms_game-card.ms_wrapper {
    position: relative;
}


div.ms_game-card.ms_thumbnail.active::before,
div.ms_game-card.ms_thumbnail:hover::before {
    content: '';
    display: block;
    background-color: transparent;
    position: absolute; 
    top: -6px;
    bottom: -5.5px;
    left: 6px;
    right: 6px;  
    border: 3px solid #0072CE;
    border-radius: 20px;
}


        /* PLAYSTATION 5 & ACCESSORIES  */

/* .ms_accessories .card-wrapper.active,
.ms_accessories .card-wrapper:hover {
    border-bottom: 2px solid #0072CE;
}

.row.ms_accessories .card-wrapper {
    min-height: 190px;
} */

.row.ms_accessories .card-wrapper-tb img {
    max-width: 65%;
}

.row.ms_accessories .card-wrapper-tb {
    opacity: 0.5;
}


.ms_accessories .ms_accessories-col.active .card-wrapper-tb,
.ms_accessories .ms_accessories-col:hover .card-wrapper-tb {
    opacity: 1;
}

.ms_accessories .ms_accessories-col {
    position: relative;
}

.ms_accessories .ms_accessories-col.active::after,
.ms_accessories .ms_accessories-col:hover::after {
    content: '';
    display: block;
    position: absolute; 
    top: 100px;
    bottom: -6px;
    left: 10px;
    right: 10px;  
    border-bottom: 3px solid #0072CE; 
}


        /*  IT TAKE TWO  */

        section.ms_it-take-two {
            background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
        }